ORACLE_HOST=132.145.186.82
ORACLE_USER=ubuntu
ORACLE_KEY_PATH=/Users/juyoung/workspace/kis-ai-trader/oracle_key
ORACLE_REMOTE_DIR=/home/ubuntu/my_site
ORACLE_APP_PORT=3000
ORACLE_PUBLIC_HOST=http://juyoung-portfolio.duckdns.org
ORACLE_SERVICE_NAME=my-site
ADMIN_PASSWORD=여기에_관리자_비밀번호
